# Node
node_modules/
npm-debug.log*
pnpm-lock.yaml
yarn.lock

# Next.js
.next/
out/
.vercel/
dist/
*.local

# Env files
.env
.env.*
!.env.example
!.env.local.example

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Test / Coverage
coverage/
*.lcov

# Prisma (si lo usas)
prisma/dev.db
prisma/dev.db-journal

# Hardhat (subproyecto /contracts)
contracts/artifacts/
contracts/cache/
contracts/typechain-types/
contracts/.env
contracts/.env.*

